.mongme-list > .list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mongme-list > .list-group-item > .guide-favicon {
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

.mongme-list > .list-group-item > .guide-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
